
# STRING

## String Represent Group of Character

In [28]:
#Replae character 'e' by 's'
a="Chetan Rajaram Salunke"
print(a.replace('e','s'))

Chstan Rajaram Salunks

In [13]:
#Replae character 'e' by 's' without Using function
a="Chetan Rajaram Salunke"
for i in a:
    if(i=='e'):
        i='s'
    d=print(i,end='')

Chstan Rajaram Salunks

In [79]:
#Repetation Operator
a="Chetan"
b="Chetan "
c="Chetan\n"
print(a*5)
print(b*5)
print(c*5)

ChetanChetanChetanChetanChetan
Chetan Chetan Chetan Chetan Chetan
Chetan
Chetan
Chetan
Chetan
Chetan

In [7]:
#Slicing
a="Chetan "
print(a[0:]*5)
print(a[:2])
print(a[0:2])
print(a[len(a)::-1])
print(a[::-1])

Chetan Chetan Chetan Chetan Chetan
Ch
Ch
 natehC
 natehC

In [81]:
#Concatenation
a="Chetan"
b="Sagar"
c='Yogesh' #We can also give single coat to string
name=a+b+c
print(name)

ChetanSagarYogesh

In [80]:
#Concatenation
a="Chetan "
b="Sagar "
c='Yogesh'
name=a+b+c
print(name)

Chetan Sagar Yogesh

In [74]:

#Concatenation
a="Chetan "
b="\nSagar "
c='\nYogesh'
name=a+b+c
print(name)

Chetan
Sagar
Yogesh

In [75]:
A="Chetan"
B="Chetan"
C=A==B
print(C)

True

In [95]:
#Formating String
print("My name is {}".format(21))
print("Value of X is:{x_val} . Value of Y is:{y_val}".format(x_val=2,y_val=3))
A=12
B=14
C=16
print("{},{},{}".format(A,B,C))

My name is 21
Value of X is:2 . Value of Y is:3
12,14,16

In [106]:
#FUNCTIONS OF STRING
#upper() convert all Characters in Uppercase
#lower() convert all characters in  Lowercase
#swapcase() convert all characters in lower to upper and vise versa
a="chetan salunke"
d=a.upper() #convert all Characters in Uppercase
c=d.lower() # convert all characters in  Lowercase
e=c.swapcase() #convert all characters in lower to upper and vise versa
print(d)
print(c)
print(e)
str="chetan rajaram salunke"
print(str.title()) #convert all words start with Captital letter

CHETAN SALUNKE
chetan salunke
CHETAN SALUNKE
Chetan Rajaram Salunke

In [4]:
#isupper() :this is used to whether given  string is in upper case or not,it returns True if string contain all elements are upper
c="Chetan Rajaram Salunke"
d=c.upper()
print(d.isupper())

True

In [5]:
#islower():this is used to whether given  string is in lower case or not,it returns True if string contain all elements are lower
c="chetan rajaram salunke"
print(c.islower())

True

In [6]:
#istitle():this is used to whether in given string all elemets are start with upper case if yes then its return us True
c="Chetan Rajaram Salunke"
print(c.istitle())

True

In [9]:
#isalpha() returns true if all the elemets are from alphabates
c="do invest ourselves for permanet things"
print(c.isalpha())

False

In [10]:
#isdigit()
c="1234345"
print(c.isdigit())

True

In [6]:
#isalnum()
c="chetansalunke352000"
print(c.isalnum())
print(c.isdigit())

True
False

In [16]:
#isspace(): returns true if string contain only space
c="   "
print(c.isspace())

True

In [20]:
#lstrip(): this method is used to remove the space which are at left side of the string
#rstrip(): this method is used to remove the space which are at Rigtht side of the string
#strip():this method is used to remove the space which are at Both side of the string
c="  Chetan "
print(c)
print(c.lstrip())
print(c.rstrip())
print(c.strip())

  Chetan
Chetan
  Chetan
Chetan

In [22]:
#replace(): This method is used to replace a sub string in a string with another sub string
c="change the leater a by s"
d=c.replace('a','s')
print(d)

chsnge the lester s by s

In [25]:
#split(): This method is used to spit string into pieces and convert into list from string
#CONVERT LIST TO STRING
c="Fighters are the winners"
print(c.split())
l=len(c.split())
print(l)

['Fighters', 'are', 'the', 'winners']
4

In [45]:
#join()
#This method is used to join string to string
c="Fighters are the winners"
d=" ".join(c)  #add space after each character
print(d)

F i g h t e r s   a r e   t h e   w i n n e r s

In [48]:
#startswith()
#Return True whether a string is starts with a substring or not otherwise return false
s="hellow Everyone , whats the amazing evening today."
print(s.startswith("hellow"))

True

In [50]:
#endswith()
#Return True whether a string is ends with a substring or not otherwise return false
s="hellow Everyone , whats the amazing evening today."
print(s.endswith("today."))

True

# slicing

You are given an immutable string, and you want to make changes to it.

Example

>>> string = "abracadabra"
You can access an index by:

>>> print string[5]
a
What if you would like to assign a value?

>>> string[5] = 'k' 
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
TypeError: 'str' object does not support item assignment

In [3]:
string='abracadabra'
#replace 'a'{which is previous of d in string} by 'k'

In [4]:
string=string[:5]+'k'+string[6+1:]
print(string)

abrackabra

### replace last 'a' by 'S'

In [5]:
string=string[:len(string)-1]+'S'
print(string)

abrackabrS

In [6]:
string=string[:5]

In [7]:
string

'abrac'

# Getting string from user

In [2]:
n=int(input("Enter the size of string"))
s=''
for i in range(n):
    s=s+input("enter the one letter")
print(s)

Enter the size of string3
enter the one lettera
enter the one letterb
enter the one letterc
abc

In [5]:
s="Chetan Salunke"
t=s.swapcase()
print(t)

cHETAN sALUNKE

In [27]:
s = input()
l0=[]
l=[]
l1=[]
l2=[]
l3=[]
for i in range(len(s)):
    l0.append(s[i:i+3].isalnum())
if True in l0:
    print("True")
else:
    print("False")
for i in s:
    l.append(i.isalpha())
if True in l:
    print("True")
else:
    print("False")
for i in s:
    l1.append(i.isdigit())
if True in l1:
    print("True")
else:
    print("False")
for i in s:
    l2.append(i.islower())
if True in l2:
    print("True")
else:
    print("False")
for i in s:
    l3.append(i.isupper())
if True in l3:
    print("True")
else:
    print("False")

qA2
True
True
True
True
True

# Capitalise the string elements

In [9]:
s='1 w 2 r 3g'
print(' '.join(i.capitalize() for i in s.split(' ')))

1 W 2 R 3g

## If we also want to capitalise the element in string which start with digit.

In [8]:
s='1 w 2 r 3g'
for i in s.split():
    a=str(i)
    if len(a)>1:
        for i in a:
            if i.isalpha():
                print(i.upper(),end='')
                
            else:
                print(i,end='')
    else:
        if a.isalpha():
            print(a.upper(),end=' ')
        else:
            print(a,end=' ')

1 W 2 R 3G

# list to string

In [4]:
l=['C', 'h', 'e', 't', 'a', 'n']
t=''
for i in l:
    t=t+i
print(t)
type(t)

Chetan

str

# Count the total number of word in given sentense(string)

In [20]:
s="Sagar  Chaudhari Chetan Salunke"
d=len(s.split())
print(d)

4

In [22]:
#Count the total number of word in given sentense(string) withought using function
s="Sagar Chaudhari Chetan Salunke"
l=len(s)
c=1
for i in range(l):
    if(s[i]==' '):
        c=c+1
print(c)

4

# Methods of reversing the string

# Loop


# 1.

In [7]:
s="Chetan"
l=list(s)
print(l)
l.reverse()
s=''
for i in l:
    s=s+str(i)
print(s)

['C', 'h', 'e', 't', 'a', 'n']
natehC

# 2.

In [18]:
s="Chetan"
sr=''
for i in s:
    sr=i+sr

In [19]:
sr

'natehC'

# Slicing

# 3.

In [39]:
s="Chetan"
s=s[len(s)::-1]

In [40]:
s

'natehC'

# 4.

In [41]:
s="Chetan"
s=s[::-1]
s

'natehC'

# Join function

# 5.

In [5]:
s="Chetan"
''.join(reversed(s))

'natehC'

## compare the first string using the reverse sort two other.

In [1]:
input1='zbk'
input2='zkb'
d=sorted(input1)
d.reverse()
t=''
for i in d:
    t=t+i
print(t)
if t==input2:
    print("Yes")
else:
    print("False")

zkb
Yes

In [ ]:
a=input()
b=input()
if sorted(a)==sorted(b):
    print('s')
else:
    print('n')

aj

NameError: name 'sorted1' is not defined