# List

#LIST
#Mutable
#NOTE: Array include only one type of element but List can contain different types of element(Hetrogenious data Structure)

In [37]:

a=[2,7,8,4,9,3,"Chetan","Yogesh","Sagar",2.3,4.5]
c=([2,7,8,4,9,3,"Chetan","Yogesh","Sagar",2.3,4.5]) # we can also declare List by this syntax(ie. touple of list)
print(a)
print(type(a))
print(type(c))

[2, 7, 8, 4, 9, 3, 'Chetan', 'Yogesh', 'Sagar', 2.3, 4.5]
<class 'list'>
<class 'list'>

# METHODS OF LIST

In [34]:
a=([2,7,8,4,9,3,"Chetan","Yogesh","Sagar",2.3,4.5])
a.pop() #Remove Last Elemnt by-default
print(a)

a.remove("Chetan") #Remove Passed Argument
print(a)

a.index("Sagar") #Give index Number to passed Argument
print(a)

a.reverse()  #Reverse the order of list
print(a)

b=([2,4,8.8,3.5,"Chandrahas","Jagadish","Mohit","Digvijay","Chetan"])
a.extend(b) #Element of a add in element of b
print(a)

c=([1,3,73,67,4,8,23,45,2,53,22,12,43,13,18,165])
c.sort()   #Element of List of same type of elements convert into Ascending Order
print(c)


c.clear()   #delete all element in list
print(c)

#count() Gives Frequency of the numbers in the list
d=[1,2,4,2,4,5,3,1,2,3,4,5,7,8,9,5,9,6,7,5,4,3,5,6,7,8,6,4,5,7,8,9,9,8]
for i in range(1,10):
    print(i,d.count(i))

[2, 7, 8, 4, 9, 3, 'Chetan', 'Yogesh', 'Sagar', 2.3]
[2, 7, 8, 4, 9, 3, 'Yogesh', 'Sagar', 2.3]
[2, 7, 8, 4, 9, 3, 'Yogesh', 'Sagar', 2.3]
[2.3, 'Sagar', 'Yogesh', 3, 9, 4, 8, 7, 2]
[2.3, 'Sagar', 'Yogesh', 3, 9, 4, 8, 7, 2, 2, 4, 8.8, 3.5, 'Chandrahas', 'Jagadish', 'Mohit', 'Digvijay', 'Chetan']
[1, 2, 3, 4, 8, 12, 13, 18, 22, 23, 43, 45, 53, 67, 73, 165]
[]
1 2
2 3
3 3
4 5
5 6
6 3
7 4
8 4
9 4

## find frequency of elements in the list with corresponding elements

In [33]:
#find frequency of elements in the list with corresponding elements
c=[10,11,10,11,34,67,34,34,67,12,10,89,100,90,89,65,75,68,10,89,100,68]
c.sort()
d=max(c)
for i in range(d+1):
        if(c.count(i)!=0):
            print(i,c.count(i))

10 4
11 2
12 1
34 3
65 1
67 2
68 2
75 1
89 3
90 1
100 2

In [12]:
c=[10,11,10,11,34,67,34,34,67,12,10,89,100,90,89,65,75,68,10,89,100,68]
c.sort()
l=len(c)
b=1
for i in c: 
    if(b!=i):
        a=i
        print(i,c.count(i))
        b=a

10 4
11 2
12 1
34 3
65 1
67 2
68 2
75 1
89 3
90 1
100 2

#### OR

In [5]:
#find frequency of elements in the list with corresponding elements
c=[10,11,10,11,34,67,34,34,67,12,10,89,100,90,89,65,75,68,10,89,100,68]
c.sort()
l=len(c)
a=[]
for i in c: 
    if(i not in a):
        print(i,c.count(i))
        a.append(i)

10 4
11 2
12 1
34 3
65 1
67 2
68 2
75 1
89 3
90 1
100 2

#### OR

In [9]:
import pandas as pd
d=[10,11,10,11,34,67,34,34,67,12,10,89,100,90,89,65,75,68,10,89,100,68]
d.sort()
l=[]
for i in set(d):
    l.append([i,d.count(i)])
l.sort()
pd.DataFrame(l)

      0  1
0    10  4
1    11  2
2    12  1
3    34  3
4    65  1
5    67  2
6    68  2
7    75  1
8    89  3
9    90  1
10  100  2

#### OR

In [11]:
a=[10,11,10,11,34,67,34,34,67,12,10,89,100,90,89,65,75,68,10,89,100,68]
d=set(a)
d=list(d)
d.sort()
for i in  d:
    print(i,a.count(i))

10 4
11 2
12 1
34 3
65 1
67 2
68 2
75 1
89 3
90 1
100 2

#### OR

# Slicing of List

In [20]:
c=[10,11,10,11,34,67,34,34,67,12,10,89,100,90,89,65,75,68,10,89,100,68]
c.sort()
new=c[-1:0:-1]
print(new)
print()
a=[]
for i in new:
    if(i not in a):
        print(i)
        a.append(i)

[100, 100, 90, 89, 89, 89, 75, 68, 68, 67, 67, 65, 34, 34, 34, 12, 11, 11, 10, 10, 10]

100
90
89
75
68
67
65
34
12
11
10

In [31]:
#List Concstnation
a=[10,20,30]
b=[1,2,3]
c=a+b
print(c)

[10, 20, 30, 1, 2, 3]

In [39]:
#Repetation of List
a=[1,2,3]
result=a*3 #in the list result a will repeat 3 times
print(result)

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [47]:
#Aliasing (Change the name of list withought change in id)
a=[12,34,5]
b=a
print(id(a))
print(id(b))
a is b

3132434585792
3132434585792

True

In [1]:
#Copping List
a=[12,3,4,5,"Chetan"]
b=a.copy()
print(b)

[12, 3, 4, 5, 'Chetan']

In [3]:
#Cloning List (Same as Copy)
a=[34,20,32,76]
b=a[:]
print(b)

[34, 20, 32, 76]

In [9]:
#Nested List
a=[122,123,234,345,566,[12,13,14]]
n=len(a)
for i in range(n):
    if type(a[i]) is list:
        m=len(a[i])
        for j in range(m):
            print(i,j,a[i][j])
    else:
        print(i,a[i])

0 122
1 123
2 234
3 345
4 566
5 0 12
5 1 13
5 2 14

In [1]:
a=[[12,32,34,45,123],[1,2,3,45,6]]
for i in a:
    for j in i:
        print(j)

12
32
34
45
123
1
2
3
45
6

In [14]:
a=[122,123,234,345,566,[12,13,14]]
l=len(a)
for i in range(l):
    if type(a[i]) is list:
        l1=len(a[i])
        for j in range(l1):
            print(i,j,a[i][j])
    else:
        print(i,a[i])

0 122
1 123
2 234
3 345
4 566
5 0 12
5 1 13
5 2 14

In [18]:
#Slicing of List
x=[[10,20,30],[40,50,60],[70,80,90],[11,12,13],[14,15,16]]
print("Origianl list")
print(x)
print("first 4 positions")
a=x[0:4]
print(a)
print("From 0-last position")
b=x[0:]
print(b)
print("last 2 positions")
c=x[-2]
print(c)

Origianl list
[[10, 20, 30], [40, 50, 60], [70, 80, 90], [11, 12, 13], [14, 15, 16]]
first 4 positions
[[10, 20, 30], [40, 50, 60], [70, 80, 90], [11, 12, 13]]
From 0-last position
[[10, 20, 30], [40, 50, 60], [70, 80, 90], [11, 12, 13], [14, 15, 16]]
last 2 positions
[11, 12, 13]

In [23]:
s="Sagar Dilip Chaudhari Chetan Salunke"
l=len(s)
c=1
for i in range(l):
    if(s[i]==' '):
        c=c+1
print(c)

5

In [2]:
#Passing List to a Function
def show(lis):
    print(type(lis))
    for i in lis:
        print(i)
l=[23,45,43,12,34]
show(l)

<class 'list'>
23
45
43
12
34

In [5]:
#list(range(start,stop,stepsize)): use to creat List
print(list(range(0,10)))
d=list(range(0,10,2))
for i in d:
    print(i)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
0
2
4
6
8

In [6]:
#list(range(start,stop,stepsize)) in the function
def show(lis):
    print(type(lis))
    for i in lis:
        print(i)
d=list(range(0,10,2))
c=list(range(1,10,2))
e=list(range(0,10,2))
show(d)
show(c)
show(e)

<class 'list'>
0
2
4
6
8
<class 'list'>
1
3
5
7
9
<class 'list'>
0
2
4
6
8

In [7]:
#GENERATOR
#generator are the functions that return a sequence of values. we use 'yield' statement to return the value from function
#yield statement return the element from a generator function into generator object
def display(a,b):
    yield a
    yield b
x,y=display(10,30)
print(x,y)

10 30

In [ ]:
#reduce()\\ imported in functools
import functools