# **Fuctions of Tuple**

### immutable data Structure

### ordered indexing and slicing

In [1]:

t=(20,30,40,50)
t1=(1,2,3,4,5)
print(t)
print("type of the data structure is:",type(t))
print(t+t1)

(20, 30, 40, 50)
type of the data structure is: <class 'tuple'>
(20, 30, 40, 50, 1, 2, 3, 4, 5)

In [14]:
t=(20,30,40,50)
#first element
print(t[0])
#last element
print(t[-1])
print(t[:3]) #printing first three element
print(t[:len(t)])#priting element from first to last
print(t[0:3]) #printing first three element

20
50
(20, 30, 40)
(20, 30, 40, 50)
(20, 30, 40)

### **#convert tuple to list**

In [5]:
t=(20,30,40,50)
li=list(t)
print(type(li))

<class 'list'>

### **#for information about tuple**

In [3]:
#help(tuple)

### **#deleting the tuple**

In [10]:
a=(12,34,2,5,6,23,56)
print(a)
del(a)
#print(a) : error becouse it deleted early

(12, 34, 2, 5, 6, 23, 56)

### **#Reversing tuple**

In [11]:
t=("chetan","Sagar","Yogesh",10,8.5,10)
print(t[::-1])

(10, 8.5, 10, 'Yogesh', 'Sagar', 'chetan')

### **#Accesing using loop**

In [12]:
t=("chetan","Sagar","Yogesh",10,8.5,10)
for i in t:
    print(i)

chetan
Sagar
Yogesh
10
8.5
10

**#Getting input from user**

In [37]:
a=()
b=list(a)
n=int(input("How many numbers user want in tuple"))
for i in range(n):
    b.append(int(input("Enter the number")))
print(b)
a=tuple(b)
print(type(a))

How many numbers user want in tuple2
Enter the number1
Enter the number2
[1, 2]
<class 'tuple'>

**#Repetation Operator**

In [16]:
a=(23,34,56)
c=3*a
print(c)

(23, 34, 56, 23, 34, 56, 23, 34, 56)

**#Coping tuple()**

In [17]:
a=(23,34,56)
b=a[0:len(a)]
print(id(a))
print(id(b))

2666244478400
2666244478400

**#Nested Tuple()**

In [20]:
 a=((10,20,30),(40,50))
print(a[0][2])
print(a[0][0])
print(a[1][1])

30
10
50

**#Nested Tuple Using For Loop**

In [31]:
a=(10,20,30,(50,60))
for i in range(len(a)):
    if(type(a[i]) is tuple):
        if(len(a[i]) > 1):
            for j in range(len(a[i])):
                print(i,j,a[i][j])
    else:
        print(i,a[i])

0 10
1 20
2 30
3 0 50
3 1 60

**#Passing Tuple to the Function**

In [38]:
def show(tuple):
    print(tuple)
    print(type(tuple))
    for i in tuple:
        print(i)
tu=("Chetan",2,45,56,"Pradip")
show(tu)

('Chetan', 2, 45, 56, 'Pradip')
<class 'tuple'>
Chetan
2
45
56
Pradip

**#list of the Tuples**

In [5]:
a=[10,20,(30,20)]
b=["Chetan",(8,12)]
print(type(a),type(b))
print(type(a[2]))
print(type(b[1]))

<class 'list'> <class 'list'>
<class 'tuple'>
<class 'tuple'>

In [12]:
a=[10,20,30,(40,50)]
print("Original",a)
a.append((60,70))
print("After append",a)

Original [10, 20, 30, (40, 50)]
After append [10, 20, 30, (40, 50), (60, 70)]

In [16]:
a=[10,20,30,(40,50),(10,20,30)]
for i in range(len(a)):
    if(type(a[i]) is tuple):
        if(len(a[i])>1):
            for j in range(len(a[i])):
                print(i,j,a[i][j])
    else:
        print(i,a[i])

0 10
1 20
2 30
3 0 40
3 1 50
4 0 10
4 1 20
4 2 30

**#Tuple of List**

In [21]:
a=(10,20,[30,40])
print(a)
print(type(a))
a[2][0]=90 #here assinning not for the tuple(immutable) but for the list in tuple.
a[2].append("Chetan") #a[2] is list so we can also perform the append operation
print(a)

(10, 20, [30, 40])
<class 'tuple'>
(10, 20, [90, 40, 'Chetan'])