# Count the frequency of the elements of list and print elements of list and its corresponding frequencies in increasing order of the elements of list.

In [2]:
a=[10,20,20,10,4,45,4,56,45,20,10,90,95,90,95,100,90,100]
a.sort()
b=1 #any no other than list
for i in a:
    if(b!=i):
        print(i,a.count(i))
        b=i

4 2
10 3
20 3
45 2
56 1
90 3
95 2
100 2

#### OR

In [9]:
a=[10,20,20,10,4,45,4,56,45,20,10,90,95,90,95,100,90,100]
a.sort()
l=[]
for i in a:
    if i not in l:
        l.append(i)
        print(i,a.count(i))

4 2
10 3
20 3
45 2
56 1
90 3
95 2
100 2

#### OR

In [8]:
a=[10,20,20,10,4,45,4,56,45,20,10,90,95,90,95,100,90,100]
a.sort()
m=max(a)
for i in range(m+1):
    if a.count(i)!=0:
        print(i,a.count(i))

4 2
10 3
20 3
45 2
56 1
90 3
95 2
100 2

#### OR

In [13]:
import pandas as pd
a=[10,20,20,10,4,45,4,56,45,20,10,90,95,90,95,100,90,100]
l=[]
for i in set(a):
    l.append([i,a.count(i)])
l.sort()
pd.DataFrame(l)

     0  1
0    4  2
1   10  3
2   20  3
3   45  2
4   56  1
5   90  3
6   95  2
7  100  2

In [15]:
a=[10,20,20,10,4,45,4,56,45,20,10,90,95,90,95,100,90,100]
s=set(a)
l=list(s)
l.sort()
for i in l:
    print(i,a.count(i))

4 2
10 3
20 3
45 2
56 1
90 3
95 2
100 2

In [1]:
pip install xelatex

Note: you may need to restart the kernel to use updated packages.

ERROR: Could not find a version that satisfies the requirement xelatex
ERROR: No matching distribution found for xelatex